@charset "utf-8";


@media (max-width: 1024px) {

  
  .header-logo {
    float: left;
    font-size: 20px;
    padding: 1px 2px;
  }
  
  .header-list li {
    float: right;
    padding:3px 2px;
  }



  .menu-card {
    width: 50%;
  }
}
@media (max-width: 670px) {

  
  .header-logo {
  
    font-size: 10px;
    padding: 1px 2px;
  }
  
  .header-list li {
  
    padding:3px 2px;
  }


  .menu-card {
    width: 100%;
  }

}

